{% load static %}
<html lang="utf-8">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="stylesheet" href="{% static 'css/element-plus@2.2.29/dist/index.css' %}"/>

    <script src="{% static 'js/vue@3.2.47/dist/vue.global.js' %}"></script>
    <script src="{% static 'js/@element-plus/icons-vue@2.0.10/dist/index.iife.min.js' %}"></script>
    <script src="{% static 'js/element-plus@2.2.29/dist/index.full.js' %}"></script>
    <script src="{% static 'js/axios@1.1.2/dist/axios.min.js' %}"></script>

    {#    <script src="//unpkg.com/vue@3"></script>#}
    {#    <script src="//unpkg.com/element-plus"></script>#}
    {#    <script src="//unpkg.com/@element-plus/icons-vue"></script>#}

    <title>I Want BV</title>
</head>
<body>
<div id="app" style="font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;">
    <div>
        <el-container>
            <el-header style="background-color:#545c64">
                <div>
                    <h1 style="color:#fff">I Want BV</h1>
                </div>

                <el-divider></el-divider>
            </el-header>
            <el-container>
                <el-header style="background-color:#545c64">

                    <el-menu
                            {#                            :default-active="activeIndex2"#}
                            class="el-menu-demo"
                            mode="horizontal"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b"
                            {#                            @select="handleSelect"#}
                    >
                        <el-menu-item index="1">
                            <el-icon>
                                <Picture-Filled></Picture-Filled>
                            </el-icon>
                            <span>图片</span>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <el-icon>
                                <Video-Play></Video-Play>
                            </el-icon>
                            <span>视频</span>
                        </el-menu-item>

                    </el-menu>
                </el-header>


                <el-container>
                    <el-main>
                        {% block mainbody %}
                            <div class="row">
                            </div>
                        {% endblock %}
                    </el-main>
                </el-container>
            </el-container>
        </el-container>
    </div>
</div>
<script>
    const App = {
        data() {
            return {
                message: "Hello Element Plus",
                image_dirs: [],
                cols: 0,
                rows: 0,
            };
        },
        mounted() {
            const self = this; // https://blog.csdn.net/weixin_46012752/article/details/123549029
            axios.get("{% url 'get_image_dirs' %}")
                .then(function (response) {
                    self.image_dirs = response['data']['image_dirs'];
                    self.cols = 6;
                    self.rows = Math.floor((self.image_dirs.length - 1) / self.cols) + 1;
                    console.log("image_dirs", self.image_dirs);
                    console.log("cols", self.cols);
                    console.log("rows", self.rows);
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        },
        delimiters: ['{$', '$}'], // 默认的delimiters与 django相同，修改之
    };
    const url =
        'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg';
    const app = Vue.createApp(App);
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        app.component(key, component);
    }
    app.use(ElementPlus);
    app.mount("#app");
</script>
</body>
</html>
